{{ define "main" }}
  {{ partial "page-header" . }}

  {{ $hasChildren := gt (len .RegularPages) 0 }}

  <section class="section-sm">
    <div class="container">
      <div class="row gx-5{{ if not $hasChildren }} justify-center{{ end }}">
        {{ if $hasChildren }}
          <!-- sidebar -->
          <div class="lg:col-4 order-last lg:order-first mb-8 lg:mb-0">
            {{ partial "section-nav" (dict "Section" . "Current" .) }}
          </div>
        {{ end }}

        <!-- content -->
        <div class="{{ if $hasChildren }}lg:col-8{{ else }}lg:col-10{{ end }}">
          {{ with .Content }}
            <div class="content">
              {{ . }}
            </div>
          {{ end }}

          {{ if $hasChildren }}
            {{/* Child page links are already in the sidebar */}}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
